.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.479);
}

.modal {
  display: flex;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 100px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  padding: 5px;
}

.content {
  display: flex;
}

.title {
  text-align: center;
}

.btn {
  height: 20px;
  background: none;
  border: none;
  margin: 15px;
}

@media (min-width: 768px) {
  .modal {
    width: 35rem;
    left: calc(50% - 17rem);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
