.container {
  width: 80%;
  margin: 0 auto;
  height: 1000px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  transition: 1s;
  color: #384758;
}

.card img {
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
  z-index: 0.5;
}

.content {
  padding-top: 35px;
  font-weight: 500;
}

.content span {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
