.App {
  background-image: url(./assets/images/img1.png);
  background-position: 103% 16%;
  background-repeat: no-repeat;
  background-size: 220px;
}

@media all and (max-width: 1200px) {
  div {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  div {
    width: 100%;
  }
}
