*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;
  line-height: 1;
  margin: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
